/* Weasy CSS  */

@font-face {
    font-family: Pacifico;
    src: url(pacifico.ttf);
  }
  @font-face {
    font-family: Source Sans Pro;
    font-weight: 400;
    src: url(sourcesanspro-regular.otf);
  }
  @font-face {
    font-family: Source Sans Pro;
    font-weight: 700;
    src: url(sourcesanspro-bold.otf);
  }
  
  @page {
    font-family: Pacifico;
    margin: 3cm;
    @bottom-left {
      color: var(--main-color);
      content: '♥ Thank you!';
    }
    @bottom-right {
      color: #a9a;
      content: 'info@techxolutions.com | techxolutions.com';
      font-size: 9pt;
    }
  }
  
  html {
    color: #14213d;
    font-family: Source Sans Pro;
    font-size: 11pt;
    line-height: 1.6;
  }
  body {
    margin: 0;
  }

  .hide-filter{
    display: none;
  }

  .report-container{
    display: flex !important;
    flex-direction: column;
    /* background-color: #f8f8f8; */
    position: relative;
    width:60%;
    min-width: max-content;
    margin:0 auto;
    padding:30px;
    border:1px solid #303030
}
  
  h1 {
    color: var(--main-color);
    font-family: Pacifico;
    font-size: 40pt;
    margin: 0;
  }
  
  aside {
    display: flex;
    margin: 2em 0 4em;
  }
  aside address {
    font-style: normal;
    white-space: pre-line;
  }
  aside address#from {
    color: #a9a;
    flex: 1;
  }
  aside address#to {
    text-align: right;
  }

  
  dl {
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
  }

  dt, dd {
    display: inline;
    margin: 0;
  }
  dt {
    color: #a9a;
  }
  dt::before {
    content: '';
    display: block;
  }
  .print-table dt::after {
    content: ':';
  }
  
  .print-table table {
    border-collapse: collapse;
    width: 100%;
  }
  .print-table th {
    border-bottom: .2mm solid #a9a;
    color: rgb(56, 55, 56);
    font-size: 10pt;
    font-weight: 400;
    padding-bottom: .25cm;
    text-transform: uppercase;
  }
  .print-table td {
    padding-top: 7mm;
  }
  .print-table td:last-of-type {
    color: var(--main-color);
    font-weight: bold;
    text-align: right;
  }
  .print-table th,.print-table td {
    text-align: center;
  }
  .print-table th:first-of-type, .print-table td:first-of-type {
    text-align: left;
  }
  .print-table th:last-of-type,.print-table td:last-of-type {
    text-align: right;
  }
  footer {
    content: '';
    display: block;
    height: 6cm;
  }
  table#total {
    /* background: #f6f6f6; */
    /* border-color: #ffffff; */
    /* border-style: solid; */
    /* border-width: 2cm 3cm; */
    bottom: 0;
    font-size: 20pt;
    /* margin: 0 -3cm; */
    /* position: absolute; */
    width: 100%;
  }

  .print-btn{
    position: absolute;
    top:120px;
    right:15px;
  }