{% extends "base.html" %}
{% block content %}

<div style="background-color:;padding:20px;position: relative;" class="calender-cont">
    <h1>Calender</h1><br><br>
    <div class="print-btn general-flex"><a href="/calender_report"><img style="height:75px" src="static/icons/print-icon.png" ></a></div>
    {% for month in months %}
    <span class="month-title">{{month}} 2025</span>
    <div class="line-sep"></div>
    <div class="month general-flex">
        {% for event in church_calender %}
            {% if event.start_date.strftime("%B") == month %}
            <a href="/calender_form_edit?clndr={{ser.dumps({'data':event.id})}}">
                <div class="event-cont">
                    {% set days_left = event.start_date - dt %}
                    <div class="event-title">{{event.title}}</div>
                    <div class="event-date">{{event.start_date.strftime("%d")}}{% if event.end_date %} - 
                        {{event.end_date.strftime("%d %B %y")}}{%else%}{{event.start_date.strftime("%B %Y")}}{%endif%} </div>
                        {%if event.venue %}
                            <div style="color:#303030;font-size:12px;padding:5px" class="event-venue">@{{event.venue}}</div>
                        {%endif %}
                        {%if days_left.days >= 0 and days_left.days < 20 %}
                        <div style="color:coral;font-size:13px;padding:5px" class="event-venue">{{days_left.days}} Days Left</div>
                        {%elif days_left.days > 20 %}
                        <div style="color:#909090;font-size:13px;padding:5px" class="event-venue"></div>
                        {%else%}
                        <div style="color:#909090;font-size:13px;padding:5px" class="event-venue">Closed</div>
                        {%endif%}
                    <div class="calender-img-bg"><img style="height:70px;opacity:0.1" src="static/icons/calender-icon.png" /></div>
                </div>
            </a>
            {%endif%}
        {%endfor%}
        
    </div>
    <small style="color:rgb(116, 116, 116);font-size: 10px;">To edit, click the event</small><br>
    {% endfor %}

</div>
{% if current_user.role == "admin_user"%}
<div style="width:100%;max-width: 1100px;margin:10px auto">
<a href="/calender_form"><div class="btns-outlined">+ Add Event</div></a>
</div>
{%endif%}
{% endblock %}