<!-- register  -->

<!-- Pledges  -->

<!-- MM  -->
{% extends "base.html" %}
{% block content %}

<style>
    .form-fields{
        display:flex;
        flex-direction:column;
    }
    section{ background-image:url(static/images/bg_service.png) }
</style>
<div class="flash-messages" id="">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for  category, message in messages %}
                <div class="flash-messages alert-{{category}}"> {{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
<br><br><br>

<div class="user-info">
    <h3 style="margin-bottom: 0;text-align: left;">Enter Church Details</h3>
    <div class="icons-cont"><small class=""></small></div>
    <div style="margin-bottom: 0;text-align: left;"></div>
</div><br>


<div style="align-items:flex-start;border:none" class="container">

    <form style="flex-direction:column;z-index:1000;" class="" _lpchecked="1" action="" method="post" enctype="multipart/form-data">
        <!-- <h1 style="text-align: left;">Open Pledges<br> Session</h1> -->
        {{church_form.hidden_tag()}}

        <!-- Church Name  -->
        <div id="transaction_id" class="group">
            {{ church_form.church_name.label }}<br>
            {{ church_form.church_name(class="form-control finish-sign-fmcontrl",placeholder="Church Name") }}<br>
            {% if church_form.church_name.errors %}
                {% for error in church_form.church_name.errors %}
                <span class="span-error" >*{{error}}</span>
                {% endfor %}
            {% endif %}
        </div>

        <!-- Church Slogan  -->
        <div id="payment_platform" class="group">
            {{ church_form.slogan.label }}<br>
            {{ church_form.slogan(class="form-control finish-sign-fmcontrl",placeholder="Slogan / Verse") }}<br>
            {% if church_form.slogan.errors %}
                {% for error in church_form.slogan.errors %}<span class="span-error" >*{{error}}</span>{% endfor %}
            {% endif %}
        </div>

        <!-- Church Location  -->
        <div id="payment_platform" class="group">
            {{ church_form.location.label }}<br>
            {{ church_form.location(class="form-control finish-sign-fmcontrl",placeholder="Physcal Address") }}<br>
            {% if church_form.location.errors %}
                {% for error in church_form.location.errors %}<span class="span-error" >*{{error}}</span>{% endfor %}
            {% endif %}
        </div>

         <!-- Church Contacts  -->
        <div id="compulsury-pop" style="position: relative;" class="group">
            {{ church_form.church_contacts.label }}<br>
            {{ church_form.church_contacts(class="form-control finish-sign-fmcontrl",placeholder="Contacts") }}<br>
            {% if church_form.church_contacts.errors %}
                {% for error in church_form.church_contacts.errors %}<span class="span-error" >*{{error}}</span>{% endfor %}
            {% endif %}
        </div>

        <!-- Church Email  -->
        <div class="group">
            {{ church_form.church_email.label }}<br>
            {{ church_form.church_email(class="form-control finish-sign-fmcontrl",placeholder="Church Email") }}<br>
            {% if church_form.church_email.errors %}
            {% for error in church_form.church_email.errors %}<span class="span-error" >*{{error}}</span>
            {% endfor %}
            {% endif %}
        </div>

        <!-- State / Region -->
        <div class="group">
            {{ church_form.region.label }}<br>
            {{ church_form.region(class="form-control finish-sign-fmcontrl",placeholder="State / Region / Province") }}<br>
            {% if church_form.region.errors %}
            {% for error in church_form.region.errors %}<span class="span-error" >*{{error}}</span>
            {% endfor %}
            {% endif %}
        </div>

        <!-- Country -->
        <div class="group">
            {{ church_form.country.label }}<br>
            {{ church_form.country(class="form-control finish-sign-fmcontrl",placeholder="Country") }}<br>
            {% if church_form.country.errors %}
            {% for error in church_form.country.errors %}<span class="span-error" >*{{error}}</span>
            {% endfor %}
            {% endif %}
        </div>

        <!-- Church Web  -->
        <div class="group">
            {{ church_form.church_web.label }}<br>
            {{ church_form.church_web(class="form-control finish-sign-fmcontrl",placeholder="www.churchexample.com") }}<br>
            {% if church_form.church_web.errors %}
            {% for error in church_form.church_web.errors %}<span class="span-error" >*{{error}}</span>
            {% endfor %}
            {% endif %}
        </div>

        <!-- Church Facebook  -->
        <div class="group">
            {{ church_form.facebook.label }}<br>
            {{ church_form.facebook(class="form-control finish-sign-fmcontrl",placeholder="Facebook Account") }}<br>
            {% if church_form.facebook.errors %}
            {% for error in church_form.facebook.errors %}<span class="span-error" >*{{error}}</span>
            {% endfor %}
            {% endif %}
        </div>

        <!-- Registered by   -->
        <div class="group">
            {{ church_form.registered_by.label }}<br>
            {{ church_form.registered_by(class="form-control finish-sign-fmcontrl",placeholder="Your Name") }}<br>
            {% if church_form.registered_by.errors %}
            {% for error in church_form.registered_by.errors %}<span class="span-error" >*{{error}}</span>
            {% endfor %}
            {% endif %}
        </div>

        <!-- Registered by Contacts -->
        <div class="group">
            {{ church_form.registered_by_contact.label }}<br>
            {{ church_form.registered_by_contact(class="form-control finish-sign-fmcontrl",placeholder="Your Contact Details") }}<br>
            {% if church_form.registered_by_contact.errors %}
            {% for error in church_form.registered_by_contact.errors %}<span class="span-error" >*{{error}}</span>
            {% endfor %}
            {% endif %}
        </div>

        <!-- Senior Pastor -->
        <div class="group">
            {{ church_form.church_senior_pastor.label }}<br>
            {{ church_form.church_senior_pastor(class="form-control finish-sign-fmcontrl",placeholder="Bishop Osborn") }}<br>
            {% if church_form.church_senior_pastor.errors %}
            {% for error in church_form.church_senior_pastor.errors %}<span class="span-error" >*{{error}}</span>
            {% endfor %}
            {% endif %}
        </div>

        <!-- Logo -->
        <div class="group">
            {{ church_form.image.label(class="acc_labels") }}<br>
            {{ church_form.image(class="form-control",placeholder="Logo")}}<br>
            {% if church_form.image.errors %}
                {% for error in church_form.image.errors %}<span class="span-error" >*{{error}}</span>{% endfor %}
            {% endif %}
        </div>

        <div style="" class="group">
                <div>{{ church_form.submit(class="btns") }}</div><br>
                <!--<input class="btns" type="submit" value="Create Account" />-->
                <!-- <div><a class="slinks-li" href="/login">Login</a></div> -->
        </div>
        <div style="" class="group">
            <!-- <div><a class="slinks-li" href="/register">Forgot Password?</a></div> -->
        </div>

    </form>

</div>


<script>

</script>
{% endblock %}