<!-- Service  -->

 <!-- Pledges -->

 <!-- MM  -->
 {% extends "base.html" %}
 {% block content %}
 
 <style>
     .form-fields{
         display:flex;
         flex-direction:column;
     }
     section{ background-image:url(static/images/bg_service.png) }
 </style>
 <div class="flash-messages" id="">
     {% with messages = get_flashed_messages(with_categories=true) %}
         {% if messages %}
             {% for  category, message in messages %}
                 <div class="flash-messages alert-{{category}}"> {{ message }}</div>
             {% endfor %}
         {% endif %}
     {% endwith %}
 </div>
 <br><br><br>
 <div class="user-info">
    <div style="" class="img-cont">
        <div width="90%"><img class="prf-image" src="static/images/{{church.image}}" alt=""/></div>
    </div><br>
    <h4 style="margin-bottom: 0;text-align: left;">{{church.church_name}}</h4>
    <div class="icons-cont"><img class="icons" src='static/icons/email-icon.png' /><small class="">{{church.church_email}}</small></div>
    <div style="margin-bottom: 0;text-align: left;"> {{church.location}}, {{church.country}}</div>
</div><br>
 
 
 <div style="align-items:flex-start;border:none" class="container finish-sign">
 
 
     <form style="background-color:;flex-direction:column;z-index:1000;" class="" _lpchecked="1" action="" method="post" enctype="multipart/form-data">
        <div id="transaction_id" class="group">
         <h1 style="text-align: left;">Church Services Form</h1>
        </div>
       
         {{services_form.hidden_tag()}}
 
         <!-- Title-->
         <div id="transaction_id" class="group">
             {{ services_form.title.label }}<br>
             {{ services_form.title(class="form-control finish-sign-fmcontrl",placeholder="e.g. Prayer Service") }}<br>
             {% if services_form.title.errors %}
             {% for error in services_form.title.errors %}<span class="span-error" >*{{error}}</span>{%endfor%}
             {% endif %}
         </div>

         <!-- Day(s) -->
         <div id="" class="group">
            {{ services_form.day.label }}<br>
            {{ services_form.day(class="form-control finish-sign-fmcontrl",placeholder="e.g. Wednesdays") }}<br>
            {% if services_form.day.errors %}
            {% for error in services_form.day.errors %}<span class="span-error" >*{{error}}</span>{%endfor%}
            {% endif %}
        </div>

        <!-- Start Time -->
        <div id="" class="group">
            {{ services_form.start_time.label }}<br>
            {{ services_form.start_time(class="form-control finish-sign-fmcontrl",placeholder="e.g. 1700HRS") }}<br>
            {% if services_form.start_time.errors %}
            {% for error in services_form.start_time.errors %}<span class="span-error" >*{{error}}</span>{%endfor%}
            {% endif %}
        </div>

        <!-- End Time -->
        <div id="" class="group">
            {{ services_form.end_time.label }}<br>
            {{ services_form.end_time(class="form-control finish-sign-fmcontrl",placeholder="e.g. 1700HRS") }}<br>
            {% if services_form.end_time.errors %}
            {% for error in services_form.end_time.errors %}<span class="span-error" >*{{error}}</span>{%endfor%}
            {% endif %}
        </div>
 
         <div style="" class="group">
             <div>{{ services_form.submit(class="btns") }}</div><br>
         </div>
 
         <div style="" class="group">
             <!-- <div><a class="slinks-li" href="/register">Forgot Password?</a></div> -->
         </div>
 
     </form>

 </div>
 
 
 <!-- <h1 style="text-align:center">Sorry, There are No Upcoming Events Open at the Moment!</h1>
 <h1 style="text-align:center">Check Again Later</h1>
 <br> -->
 
 
 <script>
 </script>
 {% endblock %}