
{% extends "base.html" %}
{% block content %}

    <style>
        .form-fields{
            display:flex;
            flex-direction:column;
        }
        /* section{ background-image:url(static/images/bg_service.png) } */
        form{
            width:100% !important;
            margin:10px auto;
        }
    </style>

<div class="flash-messages" id="">
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
          {% for  category, message in messages %}
              <div class="flash-messages alert-{{category}}"> {{ message }}</div>
          {% endfor %}
      {% endif %}
  {% endwith %}
</div>

    <br><br>
<div class="user-info">
    <div style="" class="img-cont">
        <div width="90%"><img class="prf-image" src="static/images/default.jpg" alt=""/></div>
    </div><br>
    <h4 style="margin-bottom: 0;text-align: left;">{{user.name}}</h4>
    <div class="icons-cont"><img class="icons" src='static/icons/email-icon.png' /><small class="">{{user.email}}</small></div>
    <div class="icons-cont"><img class="icons" src='static/icons/church-icon.png' />{% if user.church_local %}<small class="">{{user.church_local}},</small></div>
    <small style="float: left" class="">{{user.church_zone}},</small>
    <small class="">{{user.church_mission}}</small>{% else %}<a href="#">Finish Sign-up</a>{% endif %} <br>
</div>
<br><br>
 
<div style="align-items:flex-start;border:none" class="container">

    <form style="flex-direction:column;z-index:1000;" class="" _lpchecked="1" action="" method="post" enctype="multipart/form-data">
        <h3>Please Finish,<br><span style="font-size:medium;color:rgb(102, 102, 102)">You're almost Done!👍</span></h3>
            {{finish_register.hidden_tag()}}
            <!-- Contacts  -->
            <div class="group">
                {{ finish_register.contacts.label }}<br>
                {{ finish_register.contacts(class="form-control finish-sign-fmcontrl",placeholder="contacts") }}<br>
                {% if finish_register.contacts.errors %}
                  {% for error in finish_register.contacts.errors %}<span class="span-error" >*{{error}}</span>{% endfor %}
               {% endif %}
          </div>
          <!-- Address  -->
          <div class="group">
            {{ finish_register.address.label }}<br>
            {{ finish_register.address(class="form-control finish-sign-fmcontrl",placeholder="address") }}<br>
            {% if finish_register.address.errors %}
              {% for error in finish_register.address.errors %}<span class="span-error" >*{{error}}</span>{% endfor %}
           {% endif %}
          </div>
          <!-- Gender  -->
          <div class="group">
            {{ finish_register.gender.label }}<br>
            {{ finish_register.gender(class="form-control finish-sign-fmcontrl",placeholder="gender") }}<br>
            {% if finish_register.gender.errors %}
              {% for error in finish_register.gender.errors %}<span class="span-error" >*{{error}}</span>{% endfor %}
           {% endif %}
          </div>
          <!-- Marital  -->
          <div class="group">
            {{ finish_register.marital.label }}<br>
            {{ finish_register.marital(class="form-control finish-sign-fmcontrl",placeholder="marital") }}<br>
            {% if finish_register.marital.errors %}
              {% for error in finish_register.marital.errors %}<span class="span-error" >*{{error}}</span>{% endfor %}
           {% endif %}
          </div>
          <!-- Age Group  -->
          <div class="group">
            {{ finish_register.age_group.label }}<br>
            {{ finish_register.age_group(class="form-control finish-sign-fmcontrl",placeholder="Youth") }}<br>
            {% if finish_register.age_group.errors %}
              {% for error in finish_register.age_group.errors %}<span class="span-error" >*{{error}}</span>{% endfor %}
           {% endif %}
          </div>
          <!-- Church Local  -->
          <div class="group">
            {{ finish_register.church_local.label }}<br>
            {{ finish_register.church_local(class="form-control finish-sign-fmcontrl",placeholder="Church local",value=loc_church.church_name) }}<br>
            {% if finish_register.church_local.errors %}
            {% for error in finish_register.church_local.errors %}<span class="span-error" >*{{error}}</span>{% endfor %}
            {% endif %}
          </div>
          <!-- Church Branch  -->
          <div class="group">
            {{ finish_register.church_branch.label }}<br>
            {{ finish_register.church_branch(class="form-control finish-sign-fmcontrl",placeholder="church zone",value=loc_church.region)}}<br>
            {% if finish_register.church_branch.errors %}
            {% for error in finish_register.church_branch.errors %}<span class="span-error" >*church_branch {{error}}</span>
            {% endfor %}
            {% endif %}
          </div>
          <!-- Church Activity -->
          <div class="group">
            {{ finish_register.church_activity.label }}<br>
            {{ finish_register.church_activity(class="form-control finish-sign-fmcontrl",placeholder="church mission")}}<br>
            {% if finish_register.church_activity.errors %}
                {% for error in finish_register.church_activity.errors %}<span class="span-error" >*{{error}}</span>
                {% endfor %}
            {% endif %}
        </div>
          <!-- Country  -->
          <div class="group">
              {{ finish_register.country.label }}<br>
              {{ finish_register.country(class="form-control finish-sign-fmcontrl",placeholder="church mission",value=loc_church.country)}}<br>
              {% if finish_register.country.errors %}
                  {% for error in finish_register.country.errors %}<span class="span-error" >*{{error}}</span>
                  {% endfor %}
              {% endif %}
          </div>


          <div style="" class="group">
                  <div>{{ finish_register.submit(class="btns") }}</div><br>
                  <!--<input class="btns" type="submit" value="Create Account" />-->
                  <!-- <div><a class="slinks-li" href="/login">Login</a></div> -->
          </div>
          <div style="" class="group">
              <!-- <div><a class="slinks-li" href="/register">Forgot Password?</a></div> -->
          </div>

      </form>

</div>

<script>
    
</script>
{% endblock %}